@charset "utf-8";
/* CSS Document */

.mySlides{display:none;}

/* Nav */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#666;
  border-bottom:1px;
}
   
   li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
   
   
   li a:hover{
	   background-color:#CE897B;
	   color:white;
   }
   
   li a{
	   background-color:#808080;
	   text-align:center;
   }
   
 
  
  li {
  float: left;
  }

/*scrolling gallery*/

* {box-sizing: border-box;}

body {font-family: Verdana, sans-serif;}

.mySlides {display: none;}

img {vertical-align: middle;}

/* Slideshow container */

.slideshow-container {
  max-width:2000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color:#752F00;
  font-size:17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.containerabout {
  position:relative;
  text-align:center;
  color:white;
  background-color:#CE897B;
  
}

.title {
  position:absolute;
  top:8px;
  left:16px;
}

.About {
	 font-family:"Bahnschrift Light"; 
	 padding-left:10%;
	 padding-right:10%;
	 font-size:28px;
	 padding-bottom:10px;
	 color:white;
}

.footer
{
	background-color:#666;
	padding:7px;
	color:white;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color:#CCC;
  color:#333 ;
  padding: 12px 20px;
  border:thick;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color:#CE897B;
}


.container {
  color:white;
  background-color:#CE897B;
  text-align:center;
}

.decor {
  color:white;
  background-color:#CE897B;
  text-align:left;
}


.row{
	display:flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/*Loyalty Card*/
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background:white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:#CCC;
  outline: none;
}

hr {
  border: 1px solid white;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color:#999;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn:hover{
	color:#666;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color:white;
  color:#666;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: #666;
   text-align: center;
}

.gray {
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: #666;
	color: white;
	text-align: center;
}

.footerlinks {
	margin-left:10%;
	margin-right:10%;
}


body {margin:0;height:2000px;}

.icon-bar {
  position:fixed;
  top: 50%;
  right:0%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
